<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Travel"
        tools:targetApi="31">
        <activity
            android:name=".Activity.AddRoomType"
            android:exported="false" />
        <activity
            android:name=".Activity.ThemKhachSan"
            android:exported="false" />
        <activity
            android:name=".Activity.addUser"
            android:exported="false" />
        <activity
            android:name=".Activity.Details_of_Reservation"
            android:exported="false" />
        <activity
            android:name=".Activity.List_of_Reservations"
            android:exported="false" />
        <activity
            android:name=".Activity.reservation_summary_manager"
            android:exported="false" />
        <activity
            android:name=".Activity.adminProfile"
            android:exported="false" />
        <activity
            android:name=".Activity.adminViewGuestManager"
            android:exported="false" />
        <activity
            android:name=".Activity.SearchGuestUser"
            android:exported="false" />
        <activity
            android:name=".Activity.HotelAdmin"
            android:exported="false" />
        <activity
            android:name=".Activity.Stastistical"
            android:exported="false" />
        <activity
            android:name=".Activity.BookingAdmin"
            android:exported="false" />
        <activity
            android:name=".Activity.BillAdmin"
            android:exported="false" />
        <activity
            android:name=".Activity.AccountManagement"
            android:exported="false" />
        <activity
            android:name=".controller.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.AdminMainActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.PasswordUtils"
            android:exported="false" />
        <activity
            android:name=".controller.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.DetailActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.MainActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.IntroActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Travel">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>